# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# ASP.NET Core
wwwroot/
# appsettings.json
# appsettings.Development.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.csproj.user
*.suo
*.user
*.userosscache
*.suo
*.tss
*.ncb
*.suo
*.vs/
*.vscode/
*.log

# Rider
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node.js
node_modules/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log
*.tmp

# Others
*.swp
*.swo
*.swn
*.tmp
*.bak
*.orig

# Compiled binaries
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
packages/
